# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite3

# Node / React
node_modules/
dist/
build/
*.log

# Uploads resume files (keep gitkeep)
uploads/*
!uploads/.gitkeep
